tfoot {
    display: table-header-group;
}
.dataTables_filter{
  display: none;
}
.datepicker{
	padding: 6px 12px;
}

.swal2-popup {
  font-size: 1.6rem !important;
}

fieldset.scheduler-border {
  border-color: #428bca !important;
  border-style: solid;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;

}

legend.scheduler-border {
  font-size: 1.1em !important;
  font-weight: bold !important;
  text-align: left !important;
  border-bottom:0;
  width:auto;
  padding: 0 5px;
}
.blue {
  background-color: #e6f3ff;
}
.red {
  background-color: #ffe6e6;
}
.purple {
  background-color: #f3e5f5;
}
.green {
  background-color: #e8f5e9;
}
.yellow {
  background-color: #fff9c4;
}
.orange {
  background-color: #ffe0b2;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.small {
  font-size: 85%;
}
.smaller {
  font-size: 75%;
}
.vertical-center {
  vertical-align: middle;
}
.word-break {
  word-break: break-word;

}
th,td {
  padding: 5px 10px;
}
th.uncheck,td.uncheck {
  padding: 0;
}
label.error {
  display: none !important;
}
input[aria-invalid="true"] {
  border: 2px solid red;
}
.pcg_* {
  text-align: center;
}
